@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
    font-size: large;
}

h1,
strong {
  color: #333;
}

a {
    color: #e81c4f;
}

tr:nth-child(even) {
    background-color: #f5f8fa;
}

tr {
    margin: 0;
}

td {
    padding: 1.5em;
    margin: 0;
}

table, th, td {
    border: 0px;
}

table {
    border-collapse: collapse;
}
